/* Empty. Add your own CSS if you like */

.landing-page{
    background-image: url('../img/fischer.jpg');
}

.landing-page .first{
    margin-top: 472px;
    margin-left: 28px;
    position: absolute
    z-index: 100;   
}

.quote{
    position: relative;
    margin-left: 38px;
    margin-bottom: 30px;
    
}

.white-huge-size {
    position: absolute;
    margin-top: 50%;
    color: white;
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  /* IE6,IE7 */
    ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; /* IE8 */
    -moz-transform: rotate(-180deg);  /* FF3.5+ */
    -o-transform: rotate(-180deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
    font-size: 450%;

}


.black-huge-size {
    position: absolute;
    color: black;
    font-size: 450%;
    margin-top: 10%;

}

.landing-page .second{
    margin-top: 550px;
    margin-left: -158px;
    position: absolute
    z-index: 100;   
}

@font-face {
	font-family: black_cherry;
	src: url('../fonts/blackcherry.TTF') format("truetype");
}

